/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*  -----------Custom Style------------*/

/*---------------common style----------------*/


div {
    display: inline-block;
}
body {
    line-height: 1.5;

}





/*------------------specific style------------*/

.text_align_center {
	text-align: center;
}





	/*----------nav-tab-style-------------*/




nav {
    background-color: rgb(67, 141, 85);
    width: 100%;
	padding: 10px;
}
.company_name {
    display: inline-block;
    width: 50%;
  text-align: left; 
  margin-right: 3%;  
}
.company_name h2 {
	padding-left: 50px;
	font-size: 25px;
	font-weight: bold;

}


.nav_tabs {
    width: 40%;
    text-align: right;
	word-spacing: 20px;
	
}
.nav_tabs a {
	color: rgb(172, 5, 47);
	text-decoration: none;
	font-weight: bold;
}

/*--------------main--------------*/

.container {
	width: 40%;
	vertical-align: top;
	text-align: left;
	margin: 20px;


}
.container img {
	height: 500px;
	margin: 20px;


}
.container h1 {
	font-size: 30px;
	font-weight: bold;
	margin: 20px;
	
}
.container p {
	font-size: 20px;
}







/*-------------footer--------------*/
footer {
	background-color: rgb(67, 141, 85);
    width: 100%;
	padding: 10px;
	height: 30px;
	
}